.signup_main {
            margin: 50px 0px;
            padding: 50px 0px;
            width: 500px;
            min-height: 300px;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .signup_main_form {
            min-height: 200px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }

        .left_signup_main {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 200px;
        }

        .right_signup_main {
            flex: 1;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .signup_label_profile_image {
            cursor: pointer;
            display: flex;
            min-width: 100px;
            min-height: 100px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
        }

        .signup_label_profile_image:hover{
            background-color: lightgray;
        }

        .right_signup_main>input {
            background-color: #F2F3F6;
            border: none;
            width: 200px;
            font-size: 14px;
            padding: 10px;
        }

        .signupBtWrap {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding-top: 20px;
        }

        .signupBt,
        .loginBt {
            background-color: #4D5159;
            padding: 5px 20px;
            color: white;
            border: none;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
        }