{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<div class="footer">
  <div class="footer_top">
    <div class="right_footer_top">
      <ul class="ul_right_footer_top">
        <li class="item_ul_right_footer_top"><a href="/product/" type="button"
            class="a_item_ul_right_footer_top">중고거래</a>
        </li>
        <li class="item_ul_right_footer_top"><a href="#" type="button" class="a_item_ul_right_footer_top">동네가게</a>
        </li>
        <li class="item_ul_right_footer_top"><a href="#" type="button" class="a_item_ul_right_footer_top">당근알바</a>
        </li>
        <li class="item_ul_right_footer_top"><a href="#" type="button" class="a_item_ul_right_footer_top">부동산 직거래</a>
        </li>
        <li class="item_ul_right_footer_top"><a href="#" type="button" class="a_item_ul_right_footer_top">중고차 직거래</a>
        </li>
      </ul>
      <ul class="ul_right_footer_top">
        <li class="item_ul_right_footer_top"><a href="https://business.daangn.com/" target="_blank" type="button"
            class="a_item_ul_right_footer_top">당근비즈니스</a>
        </li>
        <li class="item_ul_right_footer_top"><a href="https://chat.daangn.com/onboarding" target="_blank" type="button"
            class="a_item_ul_right_footer_top">채팅하기</a>
        </li>
      </ul>
      <ul class="ul_right_footer_top">
        <li class="item_ul_right_footer_top"><a href="https://cs.kr.karrotmarket.com/wv/faqs" target="_blank"
            type="button" class="a_item_ul_right_footer_top">자주 묻는 질문</a>
        </li>

        <li class="item_ul_right_footer_top"><a href="https://about.daangn.com/" target="_blank" type="button"
            class="a_item_ul_right_footer_top">회사소개</a>
        </li>
        <li class="item_ul_right_footer_top"><a href="https://about.daangn.com/jobs/" target="_blank" type="button"
            class="a_item_ul_right_footer_top">인재 채용</a>
        </li>
      </ul>
    </div>
    <div class="left_footer_top">
      당근마켓 앱 다운로드
      <div class="download_btn_wrap">
        <a class="download_btn" type="button" target="_blank"
          href="https://apps.apple.com/kr/app/%EB%8B%B9%EA%B7%BC%EB%A7%88%EC%BC%93-%EC%A4%91%EA%B3%A0%EA%B1%B0%EB%9E%98-%ED%95%84%EC%88%98%EC%95%B1/id1018769995">
          <img class="download_btn_image" src="{% static "images/appleLogo.png" %}" />
          App Store</a>
        <a class="download_btn" type="button" target="_blank"
          href="https://play.google.com/store/apps/details?id=com.towneers.www&hl=ko">
          <img class="download_btn_image" src="{% static "images/googleplayLogo.png" %}" />

          Google Play</a>
      </div>
    </div>

  </div>
  <div class="footer_bottom">
    <div class="right_footer_bottom">
      <ul class="infomation_ul">
        <li><b>대표</b> 김용현,황도연 | <b>사업자번호</b> 375-87-00088</li>
        <li><b>직업정보제공사업 신고번호 </b>2016-서울서초-0051</li>
        <li><b>주소</b> 서울특별시 구로구 디지털로 30길 28, 609호(당근서비스)</li>
        <li><b>전화</b> 1544-9796 | <b>고객문의</b> cs@daangservice.com</li>
      </ul>
      <ul class="ul_right_footer_bottom">
        <li class="item_ul_right_footer_bottom"><a href="#" type="button" class="a_item_ul_right_footer_bottom">제휴
            문의</a></li>
        <li class="item_ul_right_footer_bottom"><a href="#" type="button" class="a_item_ul_right_footer_bottom">광고
            문의</a></li>
        <li class="item_ul_right_footer_bottom"><a href="#" type="button" class="a_item_ul_right_footer_bottom">PR
            문의</a></li>
        <li class="item_ul_right_footer_bottom"><a href="#" type="button" class="a_item_ul_right_footer_bottom">IR
            문의</a></li>

      </ul>
      <ul class="ul_right_footer_bottom">
        <li class="item_ul_right_footer_bottom"><a href="#" type="button" class="a_item_ul_right_footer_bottom">이용약관</a>
        </li>
        <li class="item_ul_right_footer_bottom"><a href="#" type="button"
            class="a_item_ul_right_footer_bottom">개인정보처리방침</a></li>
        <li class="item_ul_right_footer_bottom"><a href="#" type="button" class="a_item_ul_right_footer_bottom">위치기반서비스
            이용약관</a></li>
        <li class="item_ul_right_footer_bottom"><a href="#" type="button" class="a_item_ul_right_footer_bottom">이용자보호
            비전과 계획</a></li>

      </ul>
    </div>
    <div class="left_footer_bottom">

    </div>

  </div>
</div>