{% extends 'product/base.html' %}
{% load humanize %}
{% load static %}
{% block main_area %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_list</title>
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
</head>
{% if query %}
    <p class="product_list_search_result">{{query}}에 대한 검색 결과입니다 </p>
{% endif %}

<main class="product_list_main">
    {% if query %}

    {% else %}
    <nav class="product_list_main_nav">
        <a href="{% url 'best_product'  %}" class="product_list_main_nav_col">인기순</a>
        <a href="/product" class="product_list_main_nav_col">전체</a>
        {% for c in categories %}
        <a href="{{c.get_absolute_url}}" class="product_list_main_nav_col">{{c.name}}</a>
        {%endfor%}
        <a href="/product/category/no-category" class="product_list_main_nav_col">기타</a>
    </nav>
    {% endif %}
    {% if product_list.count == 0 %}
    <section class="no_product_list_main_main_section">
        <p>게시물이 존재하지 않습니다.</p>
    </section>
    {% else %}
    <section class="product_list_main_main_section">
        {% for p in product_list %}
        <section class="product_list_main_main_section_row">
            <div class="product_list_main_main_section_row_image_wrap">
                <img class="product_list_main_main_section_row_image" src="{{p.image.url}}" />
            </div>
            <a type="button" href="{{p.get_absolute_url}}" class="product_list_main_main_section_row_document_wrap">
                <h1>{{ p.title}}</h1>
                <p>{{p.address}} * {{ p.created_at |timesince|naturaltime }} 전</p>
                <h1>{{ p.price}}원</h1>
                <p>관심 {{p.likes.count}}</p>
                <p>조회 {{p.views}}</p>
            </a>
        </section>
        {% endfor %}
    </section>
    {% endif %}
    {% if user.is_authenticated %}
    <a type="button" href="/product/create_product" class="product_list_create_product">+ 글쓰기</a>
    {% endif %}
</main>
{% endblock %}