{% extends 'product/base.html' %}
{% load static %}

{% block main_area %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<form class="login_form" action="{% url 'account:login' %}" method="post">
    {% csrf_token %}
    <div class="login_mascot_wrap">
        <img src="{% static 'images/mascot.png' %}" height="100px" style="object-fit: cover">
    </div>
    <div class="loginInputWrap">
        <div>
            <p>ID</p>
            <input type="text" name="username" placeholder="아이디를 입력해주세요" />
        </div>
        <div>
            <p>PWD</p>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요" />
        </div>
    </div>
    <div class="signupBtWrap">
        <input type="submit" class="login_submit_btn" value="로그인" />
        <a type="button" class="login_singup_btn" href="{% url 'account:sign-up' %}">회원가입</a>
    </div>
</form>

{% endblock %}